{#
/**
 * @file
 * Template for the frontend validation.
 *
 * Please note that if you need to change the structure, an element with the ID
 * of 'password-policy-constraints' has to exist and it must contain the
 * elements with .constraint without changing their class, data-* and ID
 * attributes. Of course it is possible to add more classes as needed.
 *
 * Available variables:
 *   - constraints (Drupal\password_enhancements\Entity\Constraint[]): Constraint entities
 *       keyed by their IDs.
 *   - descriptions (string[]): Initial description for each constraint keyed by
 *       the entity's ID.
 */
#}

<fieldset id="password-policy-constraints" {{ hidden ? 'style="display: none;"' : '' }}>
  <legend class="title">{{ 'Password requirements'|t }}</legend>
  {% for id, constraint in constraints %}
    <div class="constraint" data-required="{{ constraint.required ? 'yes' : 'no' }}" data-validation-passed="no" id="{{ id }}" data-constraint="{{ constraint.type }}">{{ descriptions[id] }}</div>
  {% endfor %}
</fieldset>
